body {
  background-color: white;
  width: 80%;
  text-align: center;
}

#main {
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}
